/* ChangePassword.css */
.changePassword-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.605);
}
.changeIMG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover entire viewport */
  z-index: -1; /* Ensure the image is behind other content */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.change-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Center vertically */
  opacity: 0.9;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  width: 500px;
  opacity: 0.9;
}

.card2 {
  padding: 60px;
}

form {
  margin-top: 1px;
}

form p {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #dc3545; /* Use red color */
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .change-password {
    flex-direction: column;
  }

  .card {
    width: 100%;
    border-radius: 0;
  }
}
