MONGODB_URI = "mongodb+srv://username:password@cluster0.example.mongodb.net/?retryWrites=true&w=majority"
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key

EMAIL_HOST=smtp-mail.outlook.com
EMAIL_USER=your_email@example.com
EMAIL_PASS='your_email_password'

FRONTEND_URL=http://localhost:3000

CRYPTR_KEY=your_cryptr_secret_key
