/* UserStats.css */

.user-summary {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.info-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.info-summary .info-box {
  width: 200px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Adjust margin between boxes */
}

.info-summary .card1 {
  background-color: #007bff; /* Blue */
}

.info-summary .card2 {
  background-color: #28a745; /* Green */
}

.info-summary .card3 {
  background-color: #ffc107; /* Yellow */
}

.info-summary .card4 {
  background-color: #dc3545; /* Red */
}

@media screen and (max-width: 600px) {
  .info-summary {
    flex-direction: column;
    align-items: center;
  }
}
