/* PasswordInput.css */

.password {
  position: relative;
}
.pppp {
  width: 100%;
}
.password input {
  width: 100%;
  border: 1px solid #ccc;
}

.password .iconEye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

/* Styling for the eye icon */
.password .iconEye svg {
  transition: color 0.3s;
}

/* Styling for the eye icon on hover */
.password .iconEye:hover svg {
  color: #333;
}
